@use "./colors.scss" as *;

@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Shippori Antique B1", sans-serif;
}

body {
  background-color: color(white, base);
  h1 {
    padding: 10px;
    width: fit-content;
    margin: auto;
    margin-bottom: 40px;
    border-bottom: #a78787 solid 7px;
    color: color(white, base);
  }
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.btn {
  background-color: color(blue, base);
  color: color(white, base);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btn:hover {
  background-color: color(blue, light);
  color: color(blue, base);
}

input {
  all: unset;
  border: 1px solid color(blue, base);
  border-radius: 10px;
}

.reg-container,
.login-container {
  background-color: color(white, base);
  max-width: 500px;
  padding: 25px 40px;
  margin: 0 2rem;
  border-radius: 20px;
  box-shadow: 15px 15px color(blue, base);

  h2 {
    margin-bottom: 1em;
  }
  form > *:not(label) {
    margin-bottom: 1em;
    display: block;
  }

  form {
    input[type="text"] {
      font-size: 1rem;
    }
    input[type="email"] {
      font-size: 1rem;
    }
    input[type="password"] {
      font-size: 0.7rem;
    }
    input {
      padding: 5px 10px;
      height: 25px;
      width: 75%;
    }
  }
}

//album file

.album-options {
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;

  label {
    color: white;
  }
  h2 {
    margin-bottom: 20px;
    color: white;
  }
}

#year {
  margin-bottom: 20px;
  border: none;
  padding: 5px 15px;
  background-color: color(blue, base);
  color: color(white, base);
  margin-left: 10px;
}
.album-container {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  & > h2 {
    margin-bottom: 10px;
    color: white;
  }
}
.album-container__card {
  color: color(blue, base);
  margin-bottom: 2rem;
  background-color: color(white, base);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border: 0.5px solid rgba($color: #a78787, $alpha: 0.2);
  box-shadow: 10px 10px color(blue, light);
  h2 {
    font-size: 1rem;
  }
  img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @media (min-width: 760px) {
    max-width: 300px;
    height: 500px;
  }
}
