@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Shippori Antique B1", sans-serif;
}

body {
  background-color: #ffffff;
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin-top: 70px;
}
body h1 {
  padding: 10px;
  width: fit-content;
  color: #ffffff;
}
body h1 a {
  text-decoration: none;
  color: #22678c;
}

.btn {
  background-color: #22678c;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btn:hover {
  background-color: #bfdcfd;
  color: #22678c;
}

input {
  all: unset;
  border: 1px solid #22678c;
  border-radius: 10px;
}

.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  background-color: rgba(254, 255, 174, 0.7960784314);
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}
.nav_container h1 {
  color: #22678c;
}
.nav_container .login {
  margin-right: 2rem;
  color: #22678c;
  z-index: 3000;
  text-decoration: none;
}

.reg-container,
.login-container {
  background-color: #ffffff;
  max-width: 500px;
  padding: 25px 40px;
  margin: 7rem 2rem;
  border-radius: 20px;
  box-shadow: 15px 15px #22678c;
}
.reg-container h2,
.login-container h2 {
  margin-bottom: 1em;
}
.reg-container form > *:not(label),
.login-container form > *:not(label) {
  margin-bottom: 1em;
  display: block;
}
.reg-container form input[type=text],
.login-container form input[type=text] {
  font-size: 1rem;
}
.reg-container form input[type=email],
.login-container form input[type=email] {
  font-size: 1rem;
}
.reg-container form input[type=password],
.login-container form input[type=password] {
  font-size: 0.7rem;
}
.reg-container form input,
.login-container form input {
  padding: 5px 10px;
  height: 25px;
  width: 75%;
}

.album-options {
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
}
.album-options label {
  color: rgba(251, 255, 0, 0.7254901961);
}
.album-options h2 {
  margin-bottom: 20px;
  color: rgba(251, 255, 0, 0.7254901961);
}
.album-options p {
  color: rgba(251, 255, 0, 0.7254901961);
  margin-bottom: 20px;
}

#year {
  margin-bottom: 20px;
  border: none;
  padding: 5px 15px;
  background-color: #22678c;
  color: #ffffff;
  margin-left: 10px;
}

.album-container {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.album-container > h2 {
  margin-bottom: 10px;
  color: white;
}

.album-container__card {
  color: #22678c;
  margin-bottom: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border: 0.5px solid rgba(167, 135, 135, 0.2);
  box-shadow: 10px 10px #bfdcfd;
}
.album-container__card h2 {
  font-size: 1rem;
  color: #22678c;
}
.album-container__card img {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (min-width: 760px) {
  .album-container__card {
    max-width: 300px;
    height: 500px;
  }
}

/*# sourceMappingURL=style.css.map */
